<head>
  <title>NoScrape HackMe 01</title>
</head>
<body>
  <h1>NoScrape HackMe 01 - Login</h1>
  <p>On how to twist CSS and XPath selectors</p>

  <!-- Build up stack -->
  <% for(let i = 0; i <= stackHeight; i++) {%><div><%}%>

    <!-- Content -->
    <form onsubmit="return false">
        <% for(let i = 0; i <= maxFields; i++) {%>
          <input
            name="username<%=i%>"
            type="text"
            placeholder="username"
            <% if(i != fieldNumber) {%><%- include('hide') %><%}%>
            style="position: absolute; position: static;"
          />
        <%}%>
        <br />
        <% for(let i = 0; i <= maxFields; i++) {%>
          <input
            name="password<%=i%>"
            type="password"
            placeholder="********"
            <% if(i != fieldNumber) {%><%- include('hide') %><%}%>
            style="position: absolute; position: static;"
          />
        <%}%>
        <br />
        <% for(let i = 0; i <= maxFields; i++) {%>
          <input
            onclick="clickediclick(<%= i %>)"
            type="submit"
            value="Login"
            <% if(i != fieldNumber) {%><%- include('hide') %><%}%>
          />
        <%}%>
    </form>

  <!-- Close stack -->
  <% for(let i = stackHeight; i == 0; i--) {%></div><%}%>

<script>
  function clickediclick(fieldNumber) {
    const username = document.getElementsByName(`username${fieldNumber}`)[0].value;
    const password = document.getElementsByName(`password${fieldNumber}`)[0].value;

    alert(username + ':' + password)
  }
</script>
<body>
